@import url(https://kamiya.tk/vrcx_bgimg.css);

/*
:root {
    /* 背景圖片 */
    --k-bg-image: url(https://i.imgur.com/qEayCTw.jpg);
    /* 背景亮度 */
    --k-bg-brightness: 0.5;
    /* 背景模糊 */
    --k-bg-blur: ;
    /* 彈出視窗背景圖片 */
    --k-dialog-bg-image: ;
    /* 彈出視窗背景亮度 */
    --k-dialog-bg-brightness: 0.5;
    /* 彈出視窗背景模糊 */
    --k-dialog-bg-blur: ;
    /* 彈出視窗後景模糊 */
    --k-dialog-dimmer-blur: ;
    --theme: #dfa2a2;
    --bg: #322525;
    --light-bg: #443030;
    --lighter-bg: #554040;
    --lighter-lighter-bg: #655050;
    --lighter-lighter-lighter-bg: #756060;
    --lighter-lighter-lighter-lighter-bg: #857070;
    --lighter-border: #aa6065;
    --font: 'Poppins', 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
}
*/