@import url(https://kamiya.tk/vrcx_m3.css);
/*
body {
    --md-sys-color-primary: 208, 188, 255;
    --md-sys-color-primary-container: 79, 55, 139;
    --md-sys-color-secondary: 204, 194, 220;
    --md-sys-color-secondary-container: 74, 68, 88;
    --md-sys-color-surface: 28, 27, 31;
    --md-sys-color-surface-1: linear-gradient(0deg, rgba(var(--md-sys-color-primary), .05), rgba(var(--md-sys-color-primary), .05)), rgb(var(--md-sys-color-surface));
    --md-sys-color-surface-2: linear-gradient(0deg, rgba(var(--md-sys-color-primary), .08), rgba(var(--md-sys-color-primary), .08)), rgb(var(--md-sys-color-surface));
    --md-sys-color-surface-3: linear-gradient(0deg, rgba(var(--md-sys-color-primary), .11), rgba(var(--md-sys-color-primary), .11)), rgb(var(--md-sys-color-surface));
    --md-sys-color-surface-4: linear-gradient(0deg, rgba(var(--md-sys-color-primary), .14), rgba(var(--md-sys-color-primary), .14)), rgb(var(--md-sys-color-surface));
    --md-sys-color-surface-variant: 73, 69, 79;
    --md-sys-color-background: 28, 27, 31;
    --md-sys-color-on-primary: 55, 30, 115;
    --md-sys-color-on-primary-container: 234, 221, 255;
    --md-sys-color-on-secondary-container: 232, 222, 248;
    --md-sys-color-on-surface: 230, 225, 229;
    --md-sys-color-on-surface-variant: 202, 196, 208;
    --md-sys-color-on-background: 230, 225, 229;
    --md-sys-color-error: 242, 184, 181;
    --md-sys-color-outline: 147, 143, 153;
    --md-sys-color-outline-variant: 68, 71, 70;
    --md-sys-color-inverse-surface: 230, 225, 229;
    --md-sys-color-inverse-on-surface: 49, 48, 51;
    --md-sys-color-inverse-primary:  103, 80, 164;
    --md-sys-typescale-headline-medium-font: "Google Sans", "Noto Sans", "Noto Sans TC", "Noto Sans JP", "Noto Sans SC", "Roboto", sans-serif;
    --md-sys-typescale-headline-medium-line-height: 36px;
    --md-sys-typescale-headline-medium-size: 28px;
    --md-sys-typescale-headline-medium-weight: 500;
    --md-sys-typescale-headline-medium-tracking: 0;
    --md-sys-typescale-headline-small-font: "Google Sans", "Noto Sans", "Noto Sans TC", "Noto Sans JP", "Noto Sans SC", "Roboto", sans-serif;
    --md-sys-typescale-headline-small-line-height: 32px;
    --md-sys-typescale-headline-small-size: 24px;
    --md-sys-typescale-headline-small-weight: 500;
    --md-sys-typescale-headline-small-tracking: 0;
    --md-sys-typescale-title-medium-font: "Google Sans", "Noto Sans", "Noto Sans TC", "Noto Sans JP", "Noto Sans SC", "Roboto", sans-serif;
    --md-sys-typescale-title-medium-line-height: 24px;
    --md-sys-typescale-title-medium-size: 16px;
    --md-sys-typescale-title-medium-weight: 600;
    --md-sys-typescale-title-medium-tracking: 0.15px;
    --md-sys-typescale-label-large-font: "Google Sans", "Noto Sans", "Noto Sans TC", "Noto Sans JP", "Noto Sans SC", "Roboto", sans-serif;
    --md-sys-typescale-label-large-line-height: 20px;
    --md-sys-typescale-label-large-size: 14px;
    --md-sys-typescale-label-large-weight: 600;
    --md-sys-typescale-label-large-tracking: 0.1px;
    --md-sys-typescale-label-medium-font: "Google Sans", "Noto Sans", "Noto Sans TC", "Noto Sans JP", "Noto Sans SC", "Roboto", sans-serif;
    --md-sys-typescale-label-medium-line-height: 16px;
    --md-sys-typescale-label-medium-size: 12px;
    --md-sys-typescale-label-medium-weight: 600;
    --md-sys-typescale-label-medium-tracking: 0.5px;
    --md-sys-typescale-body-large-font: "Google Sans", "Noto Sans", "Noto Sans TC", "Noto Sans JP", "Noto Sans SC", "Roboto", sans-serif;
    --md-sys-typescale-body-large-line-height: 24px;
    --md-sys-typescale-body-large-size: 16px;
    --md-sys-typescale-body-large-weight: 400;
    --md-sys-typescale-body-large-tracking: 0.5px;
    --md-sys-typescale-body-medium-font: "Google Sans", "Noto Sans", "Noto Sans TC", "Noto Sans JP", "Noto Sans SC", "Roboto", sans-serif;
    --md-sys-typescale-body-medium-line-height: 20px;
    --md-sys-typescale-body-medium-size: 14px;
    --md-sys-typescale-body-medium-weight: 400;
    --md-sys-typescale-body-medium-tracking: 0.25px;
    --md-sys-typescale-body-small-font: "Google Sans", "Noto Sans", "Noto Sans TC", "Noto Sans JP", "Noto Sans SC", "Roboto", sans-serif;
    --md-sys-typescale-body-small-line-height: 16px;
    --md-sys-typescale-body-small-size: 12px;
    --md-sys-typescale-body-small-weight: 400;
    --md-sys-typescale-body-small-tracking: 0.4px;
}
*/